@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300&family=Poppins:wght@200&family=Rubik&family=Shippori+Antique&family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Shippori Antique', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    
}
body{
    background: #067eed;
}

.idade1{
    width: 200px;
    margin: 2px;
}

.idade{
    background: #6730ec;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    /*left: 50%;
    transform: translate(-50%, -50%);*/
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.fano{
    background: #ffffff;
    border: none;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}
.butao{
    color: wheat;
    background: #280b6f;
    margin: 10px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    border-radius: 15px;
    transition: 1s;
    margin-top: 10px;
}
.butao:hover{
    transition: 1s;
    padding-left: 70px;
    padding-right: 70px;
}